---
---

body {
  font-family: 'Verdana', arial, sans-serif, sans;
  background: #fff url('bg.jpg') no-repeat top;
  color: #2f0e3b;
  margin: 0 0 20px 0;
  padding: 0;
}

main {
  margin: 20px auto;
  width: 760px;
}

h1 {
  font-weight: normal;
  font-size: 4em;
  color: #b136ff;
  margin: 0;
  padding: 0px;
}

div {
  line-height: 1.4em;
  padding: 10px;
  width: 500px;
  border-bottom: 1px solid #e5a5fc;
}
